<form>
  <h3 mat-dialog-title>{{title}}</h3>
  <mat-dialog-content>
    <mat-form-field>
      <input type="text" matInput placeholder="项目名称" >
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="项目描述" >
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type='button' mat-raised-button color='primary' (click)='onClick()'>保存</button>
    <button type='button' mat-button [mat-dialog-close]>关闭</button>
  </mat-dialog-actions>
</form>