<div class='container' [@listAnim]='listAnim$ | async'>
  <app-project-item *ngFor="let project of (projects$ | async);trackBy: trackByProjectId"
                    [item]="project"
                    class="card"
                    (onSelected)='selectProject(project)'
                    (onInvite)='launchInviteDialog()'
                    (onEdit)='launchUpdateDialog(project)'
                    (onDel)='launchConfirmDialog(project)'>
  </app-project-item>

  <button class="fab-button"
          mat-fab
          type="button"
          (click)="openNewProjectDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>